body {
  padding: 0px;
  margin: 0px;
  background-color:#FFFAF0;
}


a.navi_links, a.navi_rechts, a.stream1, a.stream2, a.stream3  {
font-family:Verdana;
font-style:normal;
font-variant:normal;
font-size:75%;
font-weight:700;
text-decoration:none;
color:#FFFAF0;
line-height:140%;
background-color:#A2060B;
text-shadow:Black;
width:95%;
}

a.navi_links:active, a.navi_rechts:active, a.stream1:active, a.stream2:active, a.stream3:active {
font-family:Verdana;
font-style:normal;
font-variant:normal;
font-size:75%;
font-weight:800;
line-height:140%;
text-shadow:Black;
background-color:#A2060B;
color:#FFFAF0;
width:95%;
height:120%;
}


a.navi_links:link, a.navi_rechts:link, a.stream1:link, a.stream2:link, a.stream3:link {
font-family:Verdana;
font-style:normal;
font-variant:normal;
font-size:75%;
font-weight:800;
line-height:140%;
text-shadow:Black;
background-color:#A2060B;
color:#FFFAF0;
width:95%;
height:120%;

}

a.navi_links:visited, a.navi_rechts:visited, a.stream1:visited, a.stream2:visited, a.stream3;visited {
font-family:Verdana;
font-style:normal;
font-variant:normal;
font-size:75%;
font-weight:800;
line-height:140%;
text-shadow:Black;
background-color:#A2060B;
color:#FFFAF0;
width:95%;
height:120%;
}

a.navi_links:hover, a.navi_rechts:hover, a.stream1:hover, a.stream2:hover, a.stream3:hover {
font-family:Verdana;
font-style:normal;
font-variant:normal;
font-size:75%;
font-weight:800;
line-height:140%;
text-shadow:Black;
background-color:#A2060B;
color:#ffc600;
width:95%;
height:120%;

}
li.navi_links_aktiv, li.navi_rechts_aktiv {
font-family:Verdana;
font-style:normal;
font-variant:normal;
font-size:75%;
font-weight:800;
text-decoration:none;
color:#ffc600;
line-height:120%;
background-color:#A2060B;
width:95%;
height:120%;
}

div.navi_oben {
position:relative;
background-color:#A2060B;
width:100%;
clear:both;;
top:0px;
left:0px;
height:100px;
min-height:100px;
max-height:100px;


}

div.navi_links, div.navi_rechts {
width:16%;
line-height:18px;
background-color:#A2060B;
}

div.navi_links{float:left;
border-right-width:1%;
border-left-width:0px;
}
div.navi_rechts{float:right;
border-left-width:1%;
border-right-width:0px;
}

div.inhalt {
float:left;
width:62%;
margin-top:60px;
margin-left:0%;
margin-right:0%;
margin-bottom:0%;
color:Black;
padding-top:2%;
padding-bottom:2%;
padding-left:2%;
padding-right:2%;
font-family:Verdana;
font-style:normal;
font-variant:normal;
font-size:75%;
}

div.titel {
position:relative;
top:-40px;
left:60%;
z-index:3;
font-family:Verdana;
font-style:normal;
font-variant:normal;
font-size:150%;
color:Black;
}

div.fuss {
clear:both;
width:90%;
margin-left:5%;
margin-right:5%;
margin-bottom:3%;

}

button{
color:#ffc600;
background-color:Maroon;
width:100%;
border:1%;
height:3ex;
margin:0;

}

table { font-family:Verdana;
font-style:normal;
font-variant:normal;
font-size:2ex;

}




