h2 {
font-family:Bradley Hand ITC,arial,helvetica;
font-size:18px;
color: #000000;
}
p {
font-family:arial,helvetica;
font-size:14px;
color: #A2060B;
}
td {
font-family:arial,helvetica;
font-size:12px;
color: #000000;
}