body { 
  padding: 0px;
  margin: 0px;
  background-color:#FFFAF0;
  color:Black;  
     }

div.nav2

{
margin:0;
padding:2.5em 2.5em 3.5em 2.5em;
}
  
} 


a.parent
 { font-family:Verdana;
 font-style:normal;
 font-variant:normal;
  font-size:75%;
  border-right-width:2px;
  border-left-width:2px;
  border-bottom-width:0px;
  border-top-width:3px;
  
  border-color:Black;
  border-style:solid;
  padding-bottom:6px;
  padding-top:6px;
  padding-left:6px;
  padding-right:6px;
  margin-top:2em;
  margin-bottom:2em;
  margin-left:0em;
  margin-right:0em;
  text-decoration:none;
  }

  
 
  

a.child {padding-bottom:7px;margin-right:3em;text-decoration:none;  }

a.parent, a.child, div.nav2 {background-color:#7D7D7D;}


a.parent:hover,
a.child:hover {text-decoration:underline; background-color:#720202;}


a.parent:active,
a.parent:link,
a.parent:visited,
a.parent:hover,
a.child:active,
a.child:link,
a.child:visited,
a.child:hover{color:White;}

div.content {
  
  border-right-width:2px;
  border-left-width:2px;
  border-bottom-width:2px;
  border-top-width:3px;
  
  border-color:Black;
  border-style:solid;
	
	
	background-color:#CD5B45;}
	
	
.ro {
background:url(ro.gif) top right no-repeat;
margin:0;
padding:0;
}
 
.lo {
background:url(lo.gif) top left no-repeat;
margin:0;
padding:0;
}
 
.ru {
background:url(ru.gif) bottom right no-repeat;
margin:0;
padding:0;
}
 
.lu {
background:url(lu.gif) bottom left no-repeat;
margin:0;
padding:0;
}